@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --violet-color : #806FE3;
    --gray-own : #f8f9fa;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 1rem;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border: none;
    background-color: Transparent;
}


/* nav bar  */
/* .container, .nav-bar, .nav-bar-left, .nav-bar-right{
    border: 1px solid red;
} */

.container{
    height: 600px;
    margin : 0 150px 0 150px;
}

.nav-bar{
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-left{
    width: 75%;
    color: var(--violet-color);

    font-weight: bold;
    font-size: 25px;
}

.nav-bar-right{
    width: 25%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-right-link{
    margin-left: 5px;
}

.nav-bar-right-link a{
    text-decoration: none;
}


/* about section  */
/* .about, .about-left, .about-right, .about-left-name, .about-left-position, .about-left-contact,
.about-right-img-div{
    border: 1px solid red;
} */

.about{
    height : 310px;
    margin: 1rem 0 1rem 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.2rem;
}

.about-left{
    height:100%;
    width: 65%;
}

.about-right{
    height:100%;
    width: 35%;
}

.about-left-name{
    width: 60%;
    height: 60%;

    font-size: 80px;
    font-weight: bold;
}

.about-left-position{
    width: 100%;
    height: 10%;
    margin-top: 1rem;
}

.about-left-contact{
    width: 150px;
    height: 50px;
    margin-top: 1rem;
    text-align: center;

    background: none;
    border: 0px;
    border-style: outset;

    box-shadow: 0.3em 0.3em var(--violet-color), inset 0.3em 0.3em var(--violet-color);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about-left-contact:hover{
    box-shadow: 0em 0em var(--violet-color), inset 0em 0em var(--violet-color);
    border: 1px solid black;
}

.about-right-img-div{
    overflow: hidden;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 0.2rem solid var(--violet-color);
}

.about-right-img-div img{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid white;
}


/* main  */
/* .main-container, .experiences,
.go-gif, .experiences-infos{
    border: 1px solid red;
} */

.main-container{
    height: 1500px;
}

/* experiences  */
/* .experiences-infos, .experiences-infos-left, .experiences-infos-right,
.right-cards, .right-text, .right-card, .right-card-div{
    border: 1px solid red;
} */
.experiences{
    height: 450px;
    background-color: var(--gray-own);
}

.go-gif{
    width: 100%;
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.go-gif img{
    width: 220px;
    height: 90px;
    margin: 0 0.2em 0 0.2em;
}
.experiences-infos{
    height: 75%;
    margin: 5rem 7rem 2rem 7rem;

    display: flex;
}

.experiences-infos-left{
    width: 20%;
    padding-left: 1.5rem;
}

.experience-year-number{
    font-size: 80px;
    font-weight: bold;
    color: var(--violet-color);
}

.experience-year-text{
    font-size: 20px;
}

.experiences-infos-right{
    width: 80%;
}

.right-text{
    height: 30%;
}

.right-text p{
    font-size: 30px;
    color: var(--violet-color);
}

.right-cards{
    height: 70%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.right-card{
    width: 280px;
    height: 250px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right-card-div{
    width: 80%;
    height: 40%;
    margin-bottom: 1rem;
}

.fa-solid.fa-compass-drafting, .fa-solid.fa-desktop, 
.fa-solid.fa-bolt-lightning{
    color : var(--violet-color);
    font-size: 25px;
    margin-bottom: 0.8em;
} 


.product{
    color: var(--violet-color);
    font-size: 20px;
}

.discover{
    color: white;
    font-size: 16px;
    border: none;
}

.right-card:hover{
    background-color: var(--violet-color);
    color: white;
}
.right-card:hover div p{
    color: white;
}

.right-card:hover .product{
    margin-bottom: 1rem;
    transition: all 0.3s;
}

.right-card:hover .discover{
    margin-bottom: 1rem;
    transition: all 0.3s;
}

.right-card:hover .fa-solid{
    color: white;
}


/* projects  */
/* .projects, .projects-explore, .projects-illustration,
.projects-explore-left, .projects-explore-right{
    border: 1px solid red;
} */

.projects{
    height: 1000px;
    margin : 300px 150px 0 150px;

    display: flex;
    flex-direction: column;
}

.projects-explore{
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-explore-left{
    width: 50%;
    height: 100%;
}

.projects-explore-left p{
    font-size: 30px;
    color: var(--violet-color);
}

.projects-explore-right{
    width: 50%;
    height: 100%;
}

.projects-explore-right p{
    margin-bottom: 2.5rem;
}

.projects-explore-right button{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: var(--violet-color);
    border: 0px;
}

.projects-explore-right button:hover{
    color: black;
    border: 0px;
    cursor: pointer;
}


/* project illustration  */
/* .projects, .projects-explore, .projects-illustration,
.projects-illustration-exemple{
    border: 1px solid red;
} */

.projects-illustration{
    margin-top: 5rem;
    width: 100%;
    height: 85%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.projects-illustration-exemple{
    width : 31%;
    height : 46%;
    border-radius: 3px;

    transition: ease-in-out 3s;
    background-position: top;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.projects-illustration-exemple.box1-1{
    background-image: url("../images/image1-hover.jpeg");
    background-size: cover;
}
.projects-illustration-exemple.box1-2{
    background-image: url("../images/image1-hover.jpeg");
    background-size: cover;
}
.projects-illustration-exemple.box1-3{
    background-image: url("../images/image3-hover.jpg");
    background-size: cover;
}
.projects-illustration-exemple.box2-1{
    background-image: url("../images/image4-hover.jpeg");
    background-size: cover;
}
.projects-illustration-exemple.box2-2{
    background-image: url("../images/image5-hover.jpeg");
    background-size: cover;
}
.projects-illustration-exemple.box2-3{
    background-image: url("../images/image6-hover.jpg");
    background-size: cover;
}

.projects-illustration-exemple:hover{
    background-position: bottom;
}






/* hackhaton  */
/* .hackhaton, .hackhaton-right, .hackhaton-left,
.hackhaton-right-title, .hackhaton-right-text, .hackhaton-right-gplay,
.hackhaton-right-gplay-ha{
    border: 1px solid red;
} */

.hackhaton{
    height: 500px;
    margin : 50px 150px 0 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hackhaton-left {
    width: 50%;
    height: 80%;
    overflow: hidden;
    padding: 0 10px 0 0;
}

.hackhaton-left img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.hackhaton-right {
    width: 50%;
    height: 80%;

    padding: 0 0 0 10px;
}

.hackhaton-right-title{
    height: 20%
}

.hackhaton-right-title{
    height: 20%;
} 

.hackhaton-right-title p{
    color : var(--violet-color);
    font-size: 32px;
    font-weight: bold;
}

.hackhaton-right-text{
    height: 60%;
}

.hackhaton-right-text p{
    margin-top : 15px;
    color: #7C7894;
}
.hackhaton-right-gplay{
    height: 15%;
    width: 35%;

    margin: 0 25% 0 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hackhaton-right-gplay-ha{
    width: 100%;
    height: 100%;
}

.hackhaton-right-gplay-ha img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}


/* endorsment  */
.endorsment{
    height: 250px;
}