@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --violet-color : #7b2cbf;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 1rem;
}


/* nav bar  */
/* .container, .nav-bar, .nav-bar-left, .nav-bar-right{
    border: 1px solid red;
} */

.container{
    margin: 0 150px 0 150px;
    height: 1000px;
}

.nav-bar{
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-left{
    width: 80%;
    color: var(--violet-color);

    font-weight: bold;
    font-size: 25px;
}

.nav-bar-right{
    width: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-right-link{
    margin-left: 0px;
}

.nav-bar-right-link a{
    text-decoration: none;
}


/* about section  */
/* .about, .about-left, .about-right, .about-left-name, .about-left-position, .about-left-contact{
    border: 1px solid red;
} */

.about{
    height : 500px;
    margin: 1rem 0 1rem 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left{
    height:100%;
    width: 50%;
}

.about-right{
    height:100%;
    width: 50%;
}

.about-left-name{
    width: 50%;
    height: 40%;

    font-size: 80px;
    font-weight: bold;
}

.about-left-position{
    width: 100%;
    height: 30px;
    margin-top: 1rem;
}

.about-left-contact{
    width: 150px;
    height: 50px;
    margin-top: 1rem;
    text-align: center;

    border: 3px solid var(--violet-color);
    border-style: outset;

    display: flex;
    align-items: center;
    justify-content: center;
}